.Voucher {
    background-color: #f2c9aa;
    float: left;
    width: 100%;
    text-align: center;
    min-width: 550px;
    padding: 70px 0 100px 0;
    /* overflow: hidden; */
}

.Title {
    margin: 0 auto 90px auto;
    width: 280px;
    height: 50px;
    background-color: #ffde5f;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 24px;
    line-height: 50px;
    text-transform: uppercase;
    box-shadow: 5px 10px #dbba3b;
}

@media only screen and (min-width:768px) {
    .Voucher {
        min-width: 768px;
    }
}

@media only screen and (min-width:992px) {
    .Voucher {
        min-width: 992px;
    }
}

@media only screen and (min-width:1200px) {
    .Voucher {
        min-width: 1200px;
    }
}