.Service {
    width: 60%;
    min-width: 330px;
    background-color: white;
    margin: 0px auto 30px auto;
    float: center;
}

.Service img {
    width: 100%;
    height: 270px;
    cursor: pointer;
}

.Title {
    margin: 30px auto 10px auto;
    font-size: 30px;
    font-weight: 600;
}

.Price {
    margin-top: 30px;
    font-size: 20px;
}

@media only screen and (min-width:768px) {
    .Service {
        width: 40%;
        float: left;
    }
    .Service:nth-child(3) {
        display: none;
    }
}

@media only screen and (min-width:992px) {
    .Service:nth-child(3) {
        display: none;
    }
}

@media only screen and (min-width:1200px) {
    .Service {
        width: 33%;
    }
    .Service:nth-child(3) {
        display: initial;
    }
}