.Page {
    background-color: #f8e3d4;
    float: left;
    width: 100%;
    min-width: 550px;
}

.Header {
    background-color: white;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 50px;
}

.Title {
    width: 100%;
    padding-left: 70px;
    line-height: 1em;
    font-size: 57px;
    z-index: 99;
    vertical-align: 30px;
    float: left;
    position: relative;
    top: -30px;
    font-style: italic;
}

.Content {
    float: left;
    width: 100%;
    padding-top: 80px;
}

@media only screen and (min-width: 768px) {
    .Page {
        min-width: 768px;
    }
    .Header {
        width: 65%;
    }
}

@media only screen and (min-width: 992px) {
    .Page {
        min-width: 992px;
    }
}

@media only screen and (min-width:1200px) {
    .Page {
        min-width: 1200px;
    }
}