.ServiceItem {
    width: 70%;
    min-width: 330px;
    background-color: #fff6f3;
    text-align: center;
    margin: 0 auto 30px auto;
}

.ServiceItem img {
    width: 70%;
    height: 180px;
    margin: 40px auto;
    cursor: pointer;
    border-radius: 50%;
}

.Title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    font-family: Coquette-Regular;
    color: #dbb89a;
}

.Info {
    width: 60%;
    height: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 10% auto;
    float: left;
    z-index: 200;
    background-color: #fff6f3;
    position: fixed;
    transition: transform 0.3s ease-out;
    display: flex;
    border-radius: 10px;
}

.Box {
    width: 50%;
    float: left;
    padding: 40px;
    text-align: center;
}

.Box .Des {
    text-align: justify;
}

@media only screen and (min-width:768px) {
    .ServiceItem {
        width: 45%;
        margin: 0 0 30px 30px;
    }
}

@media only screen and (min-width: 992px) {
    .ServiceItem {
        width: 45%;
    }
}

@media only screen and (min-width: 1200px) {
    .ServiceItem {
        width: 30%;
    }
}

.Open {
    display: block
}

.Close {
    display: none;
}