.ServiceItem {
    width: 70%;
    min-width: 330px;
    margin-bottom: 30px;
    background-color: #dbb89a;
    text-align: center;
}

.ServiceItem img {
    width: 100%;
    height: 270px;
}

.Title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 25px;
}

@media only screen and (min-width:768px) {
    .ServiceItem {
        width: 48%;
    }
}

@media only screen and (min-width: 992px) {
    .ServiceItem {
        width: 48%;
    }
}

@media only screen and (min-width: 1200px) {
    .ServiceItem {
        width: 30%;
    }
}