.Header {
    height: 80px;
    min-width: 550px;
    width: 100%;
    background-color: #dbb89a;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    overflow: hidden;
    float: left;
    padding: 10px 0;
}

@media only screen and (min-width: 768px) {
    .Header {
        min-width: 768px;
    }
}

@media only screen and (min-width: 992px) {
    .Header {
        min-width: 992px;
    }
}

@media only screen and (min-width: 1200px) {
    .Header {
        min-width: 1200px;
    }
}